@import 'src/css/colors.scss';
.MsgOther {
    display: flex;
    margin-bottom: 3px;
    background: $bgColor;
    .userInfo {
        flex: 0 0 150px;
        min-height: 50px;
        text-align: right;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        .name {
            padding: 5px;
        }
        .time {
            padding: 5px;
        }
    }
    .msgContent {
        flex: 1;
        min-height: 50px;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        .text {
            padding: 5px;
        }
    }
}