@import 'src/css/colors';
.OrderTable1 {
    .orderWrap {
        margin-top: 20px;
        .orderHeader {
            height: 30px;
            line-height: 30px;
            background: $bgColor;
            padding-left: 10px;
            padding-right: 10px;
            border-top: 1px solid $borderColor;
            border-left: 1px solid $borderColor;
            border-right: 1px solid $borderColor;
            .lookMore {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
                color: $color999;
                cursor: pointer;
                i {
                    font-size: 12px;
                }
                span {
                    margin-right: 5px;
                }
            }
            .el-button-group {
                .el-button:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
        .el-table {
            .detailContainer {
                display: flex;
                .goodsImg {
                    flex: 0 0 62px;
                    height: 62px;
                    border: $borderColor;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .desc {
                    flex: 1;
                    padding: 0 20px 0 10px;
                }
            }
            th,
            td {
                padding: 3px 0;
            }
        }
    }
}