
<nav>
    <div class="tabbar">
        <div class="tabbar-item tabbar-item-active" flag="user">
            <span>用户配置</span>
        </div>
        <div class="tabbar-item" flag="lib">
            <span>知识分类配置</span>
        </div>
    </div>
</nav>
<div class="content">

    <div class="content-inner">

    </div>
</div>

<div id="dialog">

</div>
<div id="lib-dialog">

</div>

<div id="dialog-mask">

</div>

<div id="dialog-confirm" title="提示">

    <p><img src="chat/img/ism_img/warn.png"> <span>确定删除此项吗?</span></p>
</div>