<div class="dialog-header">
    <span>请选择公司员工</span>
    <img src="chat/img/close.png">
</div>
<div class="dialog-content">
    <table>
        <tr class="table-head">
            <td>
                <div class="mc-checkbox">
                    <input type="checkbox" name="radio" id="dialog-selectall" class="chk_1">
                    <label for="dialog-selectall"></label>
                </div>
            </td>
            <td>昵称</td>
            <td>用户名</td>
            <td>姓名</td>
            <td>性别</td>
            <td>手机</td>
            <td>角色名称</td>
        </tr>

    </table>

</div>
<div class="dialog-footer">
    <button id="dialog-cancel">取消</button>
    <button id="dialog-ensure">确认</button>
</div>

<div class="search">
    <input type="text" placeholder="搜索用户名">
    <button>搜索</button>
</div>