<div class="dialog-header">
    <span>修改知识分类</span>
    <img src="chat/img/close.png">
</div>
<div class="dialog-content">
    <p id="lib-uporg" code="<%=data.orgcode%>">原知识库名称:<span><%=data.oldorgname%></span></p>
    <p>新知识库名称:<input type="text" id="lib-clsname" maxlength="15"></p>
</div>
<div class="dialog-footer">
    <button >取消</button>
    <button id="button-libmodify">确认</button>
</div>