<div class="dialog-header">
    <span>添加知识分类</span>
    <img src="chat/img/close.png">
</div>
<div class="dialog-content">
    <p id="lib-uporg" code="<%=data.uporgcode%>">上级知识库:<span><%=data.uporgname%></span></p>
    <p>知识库名称:<input type="text" id="lib-clsname" maxlength="15"></p>
</div>
<div class="dialog-footer">
    <button >取消</button>
    <button id="button-addlib">确认</button>
</div>