<div class="content-inner-lib">



    <div class="content-inner-buttonset">
        <div class="buttonset-containner">
            <button id="lib-add">+&nbsp;新增</button>
            <button id="lib-delete">&nbsp;删除&nbsp;</button>
            <button id="lib-modify">&nbsp;修改&nbsp;</button>
        </div>
    </div>

    <div class="content-inner-list">
         <div class="lib-list">


         </div>
    </div>


</div>