<div class="content-inner-user">

    <div class="content-inner-list">

        <!--<div class="list-left">-->

        <!--</div>-->
        <!--<div class="list-right">-->
            <table>
                <tr class="table-head">
                    <td>
                       <span>序号</span>
                        <span>头像</span>
                    </td>
                    <td>昵称</td>
                    <td>用户名</td>

                    <td>姓名</td>
                    <td>性别</td>
                    <td>手机</td>

                    <td>角色名称</td>
                    <td>操作</td>
                </tr>
            </table>
        <!--</div>-->
    </div>
</div>