@import 'src/css/colors.scss';
.Chat {
    .el-dialog__header {
        border-bottom: 1px dashed $borderColor;
    }
    .el-dialog__body {
        padding-top: 0px;
    }
    .chatDialogWrap {
        display: flex;
        .questionCategory {
            flex: 0 0 400px;
            .categoryTitle {
                background-color: $borderColor;
            }
            .el-radio-group {
                width: 100%;
            }
            .productLine {
                padding-top: 15px;
            }
            .el-badge {
                margin-right: 15px;
                margin-bottom: 10px;
            }
        }
        .chatContainer {
            flex: 1;
            border-left: 5px solid $borderColor;
            padding-left: 15px;
            .chatWrap {
                min-height: 600px;
                border: 1px solid $borderColor;
                .chatHeader {
                    height: 30px;
                    line-height: 30px;
                    border-bottom: 1px solid $borderColor;
                }
                .chatBody {
                    height: 500px;
                    overflow-y: auto;
                    box-sizing: border-box;
                    padding: 10px;
                }
                .handle {
                    height: 30px;
                    border-top: 1px solid $borderColor;
                    background: $bgColor;
                }
                .chatMsg {}
            }
        }
    }
}