$borderColor: #E6E6E6;
$redColor: #E7442E;
$color333: #333;
$color666: #666;
.DeliveryInfo {
    font-size: 12px;
    margin-top: 10px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 100%;
    line-height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid $borderColor;
    .el-icon-check {
        position: absolute;
        font-weight: bold;
        font-size: 32px;
        right: 15px;
        top: 0px;
        color: $redColor;
    }
}

.DeliveryInfoSelected {
    border: 2px solid $redColor;
}