@import 'src/css/colors.scss';
.MyProperty {
    background: white;
    min-height: 800px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
    .MyPropertyLeft {
        flex: 0 0 320px;
        border-right: 1px solid $borderColor;
        .MypropertyLeftItem {
            border-bottom: 1px dashed $borderColor;
            padding: 10px 0;
            .main {
                line-height: 30px;
                cursor: pointer;
                .text {
                    text-align: right;
                    font-size: 15px;
                }
                .money {
                    font-size: 20px;
                    padding-left: 10px;
                    color: $redColor;
                }
            }
            .brief {
                line-height: 25px;
                .text {
                    color: $color999;
                }
                .lookDetail {
                    text-align: right;
                    padding-right: 10px;
                    color: $redColor;
                    cursor: pointer;
                    font-size: 12px;
                }
            }
        }
    }
    .MyPropertyRight {
        flex: 1;
    }
}