.Header {
    .headerTop {
        height: 30px;
        line-height: 30px;
        background: #4D4D4D;
        font-size: 12px;
        .content {
            width: 1200px;
            margin: 0 auto;
            .left {
                float: left;
                color: white;
                .login {
                    color: #E7442E;
                    cursor: pointer;
                }
                .phone {
                    color: #999999;
                    margin-left: 30px;
                    cursor: pointer;
                }
            }
            .right {
                float: right;
                color: white;
                a {
                    color: white;
                    padding: 0 5px;
                    cursor: pointer;
                }
                span {
                    margin-right: 15px;
                    color: white;
                }
            }
        }
    }
    .headerBottom {
        background: white;
        .content {
            width: 1200px;
            margin: 0 auto;
            height: 60px;
            .logo {
                float: left;
                height: 100%;
                margin-right: 80px;
                img {
                    height: 100%;
                }
            }
            .nav {
                float: left;
                ul {
                    float: left;
                    li {
                        float: left;
                        list-style: none;
                        font-size: 14px;
                        line-height: 60px;
                        padding: 0 15px;
                        cursor: pointer;
                        color: #333333;
                    }
                }
            }
            .notice {
                float: right;
                position: relative;
                z-index: 2000;
                width: 300px;
                margin-top: 8px;
                .goSigin {
                    margin-left: 10px;
                    cursor: pointer;
                    color: #E7442E;
                }
            }
        }
    }
}

.navItemSelected {
    color: #E7442E !important;
    border-bottom: 2px solid #E7442E;
}