@import 'src/css/colors.scss';
.Home {
    font-size: 12px;
    .bannerContainer {
        display: flex;
        .imgContainer {
            flex: 0 0 985px;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .msgContainer {
            flex: 1;
            margin-left: 15px;
            background: white;
            height: 500px;
            .msg {
                height: 137px;
                border-bottom: 1px dashed #E6E6E6;
                padding: 15px;
                box-sizing: border-box;
                position: relative;
                .title {
                    color: #333333;
                    font-size: 16px;
                }
                ul {
                    margin-top: 3px;
                    position: relative;
                    li {
                        list-style: none;
                        font-size: 12px; // color: #999999;
                        line-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 200px;
                        cursor: pointer;
                    }
                }
                .more {
                    text-align: right;
                    position: absolute;
                    bottom: 15px;
                    color: #999;
                    width: 100%;
                    right: 10px;
                    cursor: pointer;
                }
            }
            .willHandleItems {
                border-bottom: 1px solid #E6E6E6;
                height: 216px;
                padding: 5px;
                .title {
                    color: #333333;
                    font-size: 16px; // color:$redColor;
                }
                .waillHandleContent {
                    height: 182px;
                    padding-top: 3px;
                    overflow-y: auto;
                    .item {
                        line-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 224px;
                        cursor: pointer;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
            .wait {
                height: 49px;
                box-sizing: border-box;
                .title {
                    color: #333333;
                    font-size: 16px;
                    line-height: 36px;
                    border-bottom: 1px solid #E6E6E6;
                    padding-left: 15px;
                }
                .waitItems {
                    text-align: center;
                    font-size: 12px;
                    color: #999999;
                    cursor: pointer;
                    i {
                        color: $redColor;
                    }
                    .row1 {
                        height: 55px;
                        flex: 1;
                        display: flex;
                        border-bottom: 1px solid #E6E6E6;
                        .left {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            border-right: 1px solid #E6E6E6;
                        }
                        .right {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                    .row2 {
                        height: 55px;
                        flex: 1;
                        display: flex;
                        .left {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            border-right: 1px solid #E6E6E6;
                        }
                        .right {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                    i {
                        font-size: 25px;
                    }
                    .item {
                        position: relative;
                        .budge {
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            border-radius: 50%;
                            background: $redColor;
                            color: white;
                            font-size: 12px;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    .msgDialogContent {
        .msgDialogContentItem {
            display: flex;
            .msgDialogContentItemNum {
                flex: 0 0 15px;
            }
            .msgDialogContentItemText {
                flex: 1;
            }
        }
    }
}
