<div id="chat-pannel">
</div>

<div id="chat-dialog">
    <div class="chat-containner">
        <div class="right" onselectstart="return false;">
            <img src="/ism/chat/img/svg/minus.svg" id="chat_minus">
            <img src="/ism/chat/img/svg/max.svg" id="chat_max">
            <img src="/ism/chat/img/svg/close.svg" id="chat_close">
        </div>
        <div class="left-menu"></div>
        <div class="chat-content">
            <div class="chat-content-drag">

            </div>
            <div class="expression-panel" onselectstart="return false;"></div>
            <input type="file" hidden id="uploadPic" accept="image/gif, image/jpeg, image/png">
            <input type="file" hidden id="uploadFile">
        </div>

    </div>
</div>
<div class="floatbutton" onselectstart= 'return false'>
    <div ></div>
    <img src="/ism/chat/img/tip.png">
    <span>最近对话</span>
</div>


<div id="dialog-error" title="提示">
    <p><img src="/ism/chat/img/warn.png"> <span>发生错误</span></p>
</div>


<div id="iviewer">
    <div class="loader"></div>

    <div class="viewer"></div>

    <ul class="controls">
        <li class="close"></li>
        <li class="zoomin"></li>
        <li class="zoomout"></li>
    </ul>
</div>