
    <div class="left-menu-item" flagid = "<%=data.id%>" endVersion="<%=data.endVersion%>">
        <img src="<%= data.img %>">
        <span class="left-menu-item-name"><%=data.name %></span>
        <span class="left-menu-item-dot"></span>
        <!--<span class="left-menu-item-close">x</span>-->
        <span class="left-menu-item-close">
            <img  src="/ism/chat/img/ism_img/close-white.png">
        </span>


    </div>
