<% list.forEach(function(data, index){ %>

<div class="org-org" rolecode="<%=data.rolecode%>">
    <div class="org-org-head">
        <span class="trangle"></span>
        <span><%= data.rolename %></span>
    </div>

    <div class="org-org-list"></div>
</div>

<% }) %>


