<!--<div class="dialog-header">-->
<!--<span>新增附件</span>-->
<!--<img src="/ism/chat/img/svg/close.svg">-->
<!--</div>-->
<div class="dialog-content add-file">
    <div class="addfile-item">
        <span>上传附件:</span>
        <input id="add_filename" value="" placeholder="选择小于30M文件" readonly>
        <button id="add_fileselect">选择</button>
    </div>

    <div class="addfile-item">
        <span>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型:</span>
        <span id="add_filetype"></span>
    </div>
    <div class="addfile-item">
        <span>大&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小:</span>
        <span id="add_filesize"></span>
    </div>

    <div class="addfile-item addfile-item-w1">
        <span>URL地址:</span>

        <div>
            <textarea placeholder="请输入url地址" id="add_fileurl" maxlength="150"></textarea>
        </div>

    </div>
    <div class="addfile-item addfile-item-w2">
        <span class="vat">说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明:  </span>

        <div>
            <textarea placeholder="请输入说明" id="add_fileurldescription" maxlength="150"></textarea>
        </div>

    </div>


</div>
<div class="dialog-footer">
    <button class="button-ensure" id="inner_dialog_ensure">保存</button>
    <button class="button-cancel" id="inner_dialog_cancel">取消</button>
</div>
<input type="file" id="uploadfile" name="file" hidden>