
<div class="attachmentfile" id="<%= data.ATTACHMENTID %>">
    <% var arr = data.ATTACHMENTNAME.split(".");  if(arr[arr.length - 1] == "png"
            ||arr[arr.length - 1] =="jpg"||arr[arr.length - 1] =="gif"){ %>
    <img src="/ism/chat/img/ism_img/pic.png">
    <% }else{ %>
    <img src="/ism/chat/img/svg/file.svg">
    <% } %>

    <a href="<%= data.HTTPURL %>"><%= data.ATTACHMENTNAME %></a>
    <span>删除</span>
</div>
