<div class="containner">
    <div class="left-pannel">

        <div class="left-pannel-content">

        </div>
    </div>

    <div class="right-pannel">

        <div class="common-dialog">
            <div class="dialog-header">
                <span></span>

                <img src="/ism/chat/img/close.png">
            </div>

            <div class="search_input">
                <input type="text"  maxlength="50"  id="common-search_keywords">
                <span><img src="/ism/chat/img/svg/search.svg">编号/问题来源/检索关键字</span>
                <small> <img src="/ism/chat/img/ism_img/close-white.png"> </small>
            </div>
            <div class="common-dialog-inner"></div>
        </div>

        <div class="center-dialog">
            <div class="dialog-header">
                <span></span>

                <img src="/ism/chat/img/close.png">
            </div>
            <div class="search_input">
                <input type="text"  maxlength="50" id="center-search_keywords">
                <span><img src="/ism/chat/img/svg/search.svg"> 编号/问题来源/检索关键字</span>
                <small > <img src="/ism/chat/img/ism_img/close-white.png" > </small>
            </div>

            <div class="center-dialog-inner"></div>
        </div>

        <div class="centertop-dialog">
            <div class="dialog-header">
                <span></span>
                <img src="/ism/chat/img/close.png">
            </div>
            <div class="centertop-dialog-inner"></div>
        </div>

        <div class="top-dialog">
            <div class="dialog-header">
                <span></span>

                <img src="/ism/chat/img/close.png">
            </div>
            <div class="top-dialog-inner"></div>
        </div>

        <div class="dialog-mask"></div>



        <div class="right-pannel-head">
            <span> </span>
            <small></small>


            <div class="head-toolbar">
                <span id="add"> <img src="/ism/chat/img/ism_img/add.png"  > 问题登记 </span>
                <span id="register"> <img src="/ism/chat/img/ism_img/question.png"  > 问题列表 </span>
                <span id="apply"> <img src="/ism/chat/img/ism_img/apply.png"  > 派工列表 </span>
                <span id="sort"> <img src="/ism/chat/img/ism_img/lib.png"  > 知识库 </span>
            </div>
        </div>
        <div class="right-pannel-center">


        </div>
        <div class="right-pannel-footer">
            <div class="right-pannel-footer-left">
                <div class="expression-panel" onselectstart="return false;"></div>
                <div class="footer-toolbar">
                    <input type="file" hidden id="uploadPic" accept="image/gif, image/jpeg, image/png">
                    <input type="file" hidden id="uploadFile">

                    <span id="emotion"><img src="/ism/chat/img/ism_img/emotion.png" title="添加表情"></span>
                    <span id="picture"><img src="/ism/chat/img/ism_img/picture.png" title="发送图片"></span>
                    <span id="file"><img src="/ism/chat/img/ism_img/attachment.png" title="发送文件"></span>
                    <span id="screenshot"><img src="/ism/chat/img/ism_img/screenshot.png" title="截图"></span>

                    <span class="tool-hint">Enter键换行,Ctrl+Enter发送</span>

                    <a href="">请点击此处下载安装截图插件</a>

                </div>
                <div class="footer-input">



                    <div class="edit" contenteditable="true" spellcheck="false"></div>


                </div>
            </div>
            <div class="right-pannel-footer-right">

                <button id="sendMessage">发送</button>

            </div>
        </div>
    </div>






    <div id="dialog-confirm" title="提示">
        <p><img src="/ism/chat/img/ism_img/warn.png"> <span>确定删除此项吗?</span></p>
    </div>
    <div id="dialog-error" title="提示">
        <p><img src="/ism/chat/img/ism_img/warn.png"> <span>发生错误</span></p>
    </div>


</div>

<div id="iviewer">
    <div class="loader"></div>

    <div class="viewer"></div>

    <ul class="controls">
        <li class="close"></li>
        <li class="zoomin"></li>
        <li class="zoomout"></li>
    </ul>

</div>
