<div class="dialog-content sort-content">
    <span>检索关键字:</span><input type="text"  regid = "<%=regid%>" id="register_sort_input"
                              placeholder="请输入关键字" maxlength="10"><span style="color:red">(最多输入10个字)</span>
    <div class="sort-tree">
    </div>

</div>

<div class="dialog-footer">
    <button class="button-ensure" id="register_sort_ensure">保存</button>
    <button class="button-cancel" id="register_sort_cancel">取消</button>
</div>