$borderColor:#DBDBDB;
$fillColor:#F3F3F3;
$color333:#333333;
$redColor: #E7442E;
*:not(i) {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: $color333;
    font-family: "PingFang SC", "Helvetica Neue", "微软雅黑";
}

// 清除浮动 --begin
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

// 清除浮动 --end

/*  button type='primary' */

.el-button--primary:focus,
.el-button--primary:hover {
    background: #e26f5e !important;
    border-color: #e26f5e !important;
    color: #fff !important;
}

.el-button--primary {
    color: #fff !important;
    background-color: #E7442E !important;
    border-color: #E7442E !important;
    span {
        color: white !important
    }
}

.el-button--primary.is-active,
.el-button--primary:active {
    background: #e26f5e !important;
    border-color: #e26f5e !important;
    color: #fff !important;
}


/* default btn */


/* input  active 颜色 */

.el-select .el-input.is-focus .el-input__inner {
    border-color: #E7442E !important;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: #E7442E !important;
    outline: 0;
}

.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
    border-color: #E7442E !important;
}


/* data-range */

.el-range-editor.is-active,
.el-range-editor.is-active:hover {
    border-color: #E7442E !important;
}


/* radio*/

.el-radio__input.is-checked+.el-radio__label {
    color: #E7442E !important;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #E7442E !important;
    background: #E7442E !important;
}


/* select */

.el-select-dropdown__item.selected {
    color: #E7442E !important;
    font-weight: 700;
}

//checkbox
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #E7442E !important;
    border-color: #E7442E !important;
}

.el-checkbox__inner:hover {
    border-color: #E7442E !important;
}

// 媒体查询
@media screen and (min-width: 1550px) {
    .routeContainer {
        width: 1430px !important;
    }
    .Header {
        .headerTop {
            .content {
                width: 1430px !important;
            }
        }
        .headerBottom {
            .content {
                width: 1430px !important;
            }
        }
    }
}