.AccountCenter {
    box-sizing: border-box;
    display: flex;
    min-height: 800px;
    .leftList {
        flex: 0 0 200px;
        background: white;
        .el-tabs--left {
            position: relative;
            min-height: 100%;
            .el-tabs__header {
                position: absolute;
                right: -9px;
                .el-tabs__item {
                    padding-right: 35px;
                    font-weight: 400;
                    color: #333333;
                    &:hover {
                        color: #E7442E;
                    }
                }
                .is-active {
                    color: #E7442E;
                    font-size: 14px;
                    font-weight: 400;
                }
                .el-tabs__active-bar {
                    background-color: #E7442E;
                }
            }
        }
    }
    .AccountContainer {
        flex: 1;
        margin-left: 15px;
        background: white;
    }
}