.MyInfo {
    box-sizing: border-box;
    min-height: 800px !important;
    background: white !important;
    padding: 10px;
    .el-card {
        margin-top: 10px;
        .el-card__header {
            padding: 10px;
            span {
                font-size: 15px;
            }
        }
        .el-card__body {
            height: 17px;
        }
    }
}