@import 'src/css/colors.scss';
.MyInfo {
    font-size: 12px;
    box-sizing: border-box;
    min-height: 800px !important;
    background: white !important;
    padding: 10px;
    .el-alert {
        margin-bottom: 10px;
    }
    .el-card {
        margin-bottom: 10px;
        .el-card__header {
            padding: 10px 10px;
            background: $bgColor;
            font-size: 14px;
            font-weight: bold;
        }
    }
}