@import 'src/css/colors.scss';
.AccountMgr {
    box-sizing: border-box;
    min-height: 800px;
    background: white;
    padding: 10px;
    .title {
        font-size: 16px;
        margin-top: 15px;
    }
    .content {
        margin-top: 15px;
    }
    .el-card {
        margin-bottom: 10px;
        .el-card__header {
            padding: 10px 10px;
            background: $bgColor;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .rowItem {
        // margin-top: 10px;
        line-height: 25px;
    }
}