.AccountMgr {
    box-sizing: border-box;
    .bankImg {
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .bankBtn {
            position: absolute;
            width: 180px;
            height: 30px;
            bottom: 24px;
            right: 84px;
        }
    }
}